@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
    overflow-x: hidden;

}
  
.modal-content {
    background-color: #ECBF0F;
    width: 80%;
    height: 95%;
    padding: 0px;
    display: flex; /* Ativa o flexbox */
    align-items: stretch; /* Alinha os itens verticalmente */
    overflow: hidden; /* Garante que a imagem não vaze do contêiner */
}

  
.modal-text {
    color: black;
    font-family: 'Montserrat';
    padding-left: 50px;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%; /* Importante para o alinhamento vertical do socialMedia-modal */
}


  .modal-text h1{
    font-weight: bold; 
    font-size: 50px;
    margin-bottom: 0px;
  }

  .modal-text h4{
    margin-top: 0px;
    font-weight: bold;
  }

  .modal-text p{
    color: white;
    margin: 20px 120px 20px 0px;
    font-size: 20px;
    font-weight: Thin;
  }
  
  .modal-text h2 {
    margin-top: 0; /* Remove a margem superior padrão do h2 */
  }

  .socialMedia-modal {
    margin-top: auto; /* Empurra para a parte inferior */
    margin-bottom: 50px; /* Define a distância de 50px da borda inferior */
    color: black;
}

  .socialMedia-modal p{
    color: black;
  }


  .modal-img {
    width: 30%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

.modal-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.icons{
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 50px;
  gap: 10px;
}

.close{
  display: none;
}


@media (max-width: 480px) {
  .modal-content {
      width: 90%;
      max-height: 95%;
      flex-direction: column;
      padding: 20px;
  }

  .modal-text {
      padding: 0;
      flex-basis: 100%;
      height: auto;
  }

  .modal-text h1 {
      font-size: 30px;
      margin-bottom: 5px;
      padding: 0;
  }

  .modal-text h4 {
      padding: 0;
  }

  .modal-text p {
      margin: 10px 0;
      font-size: 16px;
      line-height: 1.5;
  }

  .modal-img {
      display: none;
  }

  .icons {
      width: auto;
      height: auto;
      gap: 10px;
      padding: 0;
  }

  .icons img {
      width: 40px;
      height: 40px;
  }

  .close {
      display: block;
      text-align: right;
  }

  .close button {
      border: none;
      outline: none;
      background: transparent;
      padding: 0;
      margin: 0;
      cursor: pointer;
  }

  .close img {
      width: 30px;
      height: 30px;
  }

  .socialMedia-modal {
      margin-top: 20px;
      margin-bottom: 20px;
  }
}

